<%= @campaign.title %>

<%= (@campaign.event_date)? "#{@campaign.event_date.strftime("%d/%m/%y")} | " : '' %>
<%= @campaign.locale %>
<%= @campaign.description %>

Olá <%= @member.name %>, o <%= @campaign.user.name %> criou uma campanha de amigo secreto no site Nosso Amigo Secreto e incluiu você. Logo a baixo voce pode saber com quem saiu.

Seu amigo secreto é: <%= @friend.name %>
